<footer>
    <div class="main-content">
      <div class="left box">
        <h2>Sobre nosotros</h2>
        <div class="content">
          <p>Somos una empresa constructora que nace en Colombia con la intención de innovar. Logrando desarrollar un sistema de proyectos de alta calidad, gracias a nuestra permanentemente evolución y aplicación de las últimas tecnologías en el proceso de construcción.</p>
          <div class="social">
            <a href="https://facebook.com/"><span class="fab fa-facebook-f"></span></a>
            <a href="#"><span class="fab fa-twitter"></span></a>
            <a href="https://instagram.com/"><span class="fab fa-instagram"></span></a>
            <a href="https://youtube.com/"><span class="fab fa-youtube"></span></a>
          </div>
        </div>
      </div>
      <div class="center box">
        <h2>Dirección</h2>
        <div class="content">
          <div class="place">
            <span class="fas fa-map-marker-alt"></span>
            <span class="text">Medellín, Colombia</span>
          </div>
          <div class="phone">
            <span class="fas fa-phone-alt"></span>
            <span class="text">+57-765432100</span>
          </div>
          <div class="email">
            <span class="fas fa-envelope"></span>
            <span class="text">info@constructora.com</span>
          </div>
        </div>
      </div>
      <div class="right box">
        <h2>Contáctenos</h2>
        <div class="content">
          <form action="#">
            <div class="email">
              <div class="text">Email *</div>
              <input type="email" required>
            </div>
            <div class="msg">
              <div class="text">Mensaje *</div>
              <textarea rows="2" cols="25" required></textarea>
            </div>
            <div class="btn">
              <button type="submit">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="bottom">
  
        <span class="credit">Created By <a href="https://">Constructora</a> | </span>
        <span class="far fa-copyright"></span><span> 2021 All rights reserved.</span>
  
    </div>
  </footer>
  