<nav class="navbar navbar-expand fixed-top bg-light">
  <div class="container">
      <h1 class="mb-0"><a href="#"><img src="./media/logo.png"></a></h1>
      <div class="d-flex flex-column flex-wrap" id="navbarCollapse">

          <ul class="navbar-nav mb-auto mt-0 ml-auto">
              <li class="nav-item active">
                  <a class="nav-link py-0" href="#">Constructora</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link py-0" href="#">Usuario</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link py-0" href="#">Registro</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link py-0" href="#">Detalle contacto</a>
              </li>
          </ul>
      </div>
  </div>
</nav>
