<div class="mb-6">
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/public/logo.png" alt="Misión TIC 2021" height="40px">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="parameters/category-list">Categorías</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Usuarios
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="administration/user-create">Crear</a></li>
              <li><a class="dropdown-item" routerLink="administration/user-edit">Editar</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="administration/user">Listar</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Productos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="administration/product-create">Crear</a></li>
              <li><a class="dropdown-item" routerLink="administration/product-edit">Editar</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item"routerLink="administration/product">Listar</a></li>
            </ul>
          </li>
      
        </ul>
      
      </div>
    </div>
  </nav>