<div class="container">
  <div class="mb-5">
    <br />
  </div>
  <div class="card">
    <div class="card-header">Categoría</div>
    <div class="card-body">
      <p class="card-text">Editar categoría</p>
      <form [formGroup]="form">
        <div class="row">
          <div class="form-group mb-3">
            <input
              type="text"
              formControlName="name"
              class="form-control"
              placeholder="Producto"
              [ngClass]="{ 'is-invalid': GetForm['name'].errors }"
            />
            <div *ngIf="GetForm['name'].errors" class="invalid-feedback">
              <div *ngIf="GetForm['name'].errors['required']">
                Valor requerido
              </div>
            </div>
          </div>
        </div>

        <div class="form-group mb-2">
          <a routerLink="/parameters/category-list" class="btn btn-danger"
            >Cancelar</a
          >
          <button (click)="SaveRecord()" class="btn btn-primary">
            Aceptar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
