@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{

  color: #d9d9d9;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.img-fluid{
  max-width: 100%;
  height: auto;}


