<div class="row" style="background-color: orangered; max-width: 100%; height: auto;">
  <!-- col-12 para celulares y col-md-4 para lo demás  -->
  <div class="col-12 col-md-3" style="text-align: center; padding-top: 60px; ">
    <img src="../../../assets/media/logo.png" >
  </div>
  <!-- col-12 para celulares y col-md-8 para lo demás -->
  <div class="col-12 col-md-9" style="background-image: url('../../../assets/media/construccion.jpg');" >

  </div>
</div>
<div class="row" style="background-color: rgb(218, 163, 61);">
  <!-- col-12 para celulares y col-md-4 para lo demás  -->
  <div class="col-12 col-md-3 ">
    <p></p>
    <h1 style="text-align: center;">CATALOGO</h1>
    <p></p>
  </div>
  <!-- col-12 para celulares y col-md-8 para lo demás -->
  <div class="col-12 col-md-3">
    <p></p>
    <h1 style="text-align: center;">PEDIDOS</h1>
    <p></p>
  </div>
  <div class="col-12 col-md-3">
    <p></p>
    <h1 style="text-align: center;">CLIENTES</h1>
    <p></p>
  </div>
  <!-- col-12 para celulares y col-md-8 para lo demás -->
  <div class="col-12 col-md-3">
    <p></p>
    <h1 style="text-align: center;">CONTACTO</h1>
    <p></p>
  </div>
</div>
<div class="row" style="background-color: rgb(255, 255, 255);">
  <div class="col-12 col-md-4">
    <p></p>
    <img src="../assets/media/1.png" style="display: block; margin-left: auto; margin-right: auto;" width="40%">
  </div>
  <div class="col-12 col-md-4">
    <p></p>
    <img src="../assets/media/2.png" style="display: block; margin-left: auto; margin-right: auto;" width="40%">
  </div>
  <div class="col-12 col-md-4">
    <p></p>
    <img src="../assets/media/3.png" style="display: block; margin-left: auto; margin-right: auto;" width="40%">
  </div>
</div>
