<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <h1 class="mb-0">CONSTRUCTORA</h1>
    <div class="d-flex flex-column flex-wrap" id="navbarCollapse">
       <ul class="navbar-nav mb-auto mt-0 ml-auto">
            <li class="nav-item active">
                <a class="nav-link py-0" href="#">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-0" aria-current="page" routerLink="parameters/category-list">Categorías</a>
            </li>            
            <li class="nav-item">
                <a class="nav-link py-0" routerLink="administration/user-create">Registro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-0" routerLink="security/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-0" href="#">Detalle contacto</a>
            </li>
        </ul>
    </div>
</div>
</nav>

